{% block employees_list %}
<div class="container">
    <h1>{{ title }}</h1>
    <hr>
 <table id="table-data" class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>birthdate</th>
            <th>salary</th>
            <th>department</th>
            <th>actions</th>
        <tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.birthdate }}</td>
            <td>{{ employee.salary }}</td>
            <td>
                {% if employee.department.id %}
                <a href="/departments/{{ employee.department.id }}">
                    {{ employee.department }}
                </a>
                {% else %}
                    {{ employee.department }}
                {% endif %}
                
            </td>
            <td>
            <div>{% with employee=employee, departments=departments %}
                    {% include "employee/edit_employee_modal.html" %}
            {% endwith %}</div>
            
            {% if department %}
                <button class="btn btn-sm btn-danger">
                    exclude
                </button>
            {% else %}
            <div>
                {% with employee=employee  %}
                    {% include "employee/delete_employee_modal.html" %}
                {% endwith %}
            </div>
            {% endif %}
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}