{% block employees_list %}

<div class="container">
    <h1>{{ title }}</h1>
    <hr>
    <table cellspacing="5" cellpadding="5" border="0">
      <tbody><tr>
          <td>Minimum date:</td>
          <td><input autocomplete="off"  class="form-control col-form" id="startdate"  name="startdate" type="date" value=""
            min="1900-01-01" max="2022-01-01"></td>
      
          <td>Maximum date:</td>
          <td><input autocomplete="off"  class="form-control col-form" id="enddate"  name="enddate" type="date" value=""
            min="1900-01-01" max="2022-01-01"></td>
          <td><button id="applydate" class="btn btn-sm btn-primary">apply</button></td>
      </tr>
  </tbody></table>
  <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>birthdate</th>
            <th>salary</th>
            <th>department</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
  </table>
    
  </div>

<script>
$(document).ready(function () 
{
  var start_date = document.getElementById('startdate').value;
  var end_date = document.getElementById('enddate').value;
  fetch_data(start_date, end_date)
  function fetch_data(start_date, end_date)
  {
    var table = $('#data').DataTable(
    {
      ajax: 
      {
        url: '/api/v1/employees',
        data:{
          start_date: start_date,
          end_date: end_date,
          department_id: '{{ department_id }}'
        },
      },
      serverSide: true,
      columns: [
        {data: 'id'},
        {data: 'name',
              "render": function ( data, type, row, meta){
              console.log(data, type, row.id, row.name)
              return '<a href="/employees/' + row.id + '">' + row.name + '</a>';
            }
        },
        {data: 'birthdate', searchable: false},
        {data: 'salary'},
        {data: 'department', 
            searchable: false,
            defaultContent: "None", 
            "render": function(data, type, row, meta)
            {
              if (data != null) {
              return '<a href="/departments/' + data.id + '">' + data.name + '</a>';
              } else {
              return "None"
              }
            }
        },
        {data: 'id',
            "render": function ( data, type, row, meta){
              console.log(data, type, row, meta)
              return `<div class='employee button' id='employee button ${data}'>soon will be avalible</div>`;
            }
        },
      ],    
    });
  }
  // Event listener to the two range filtering inputs to redraw on input
  $('#applydate').click( function()
  {
    start_date = document.getElementById('startdate').value;
    end_date = document.getElementById('enddate').value;
    $('#data').DataTable().destroy();
    fetch_data(start_date, end_date);
  });
  // document.addEventListener('DOMContentLoaded', function() {
  // const employee_button = document.querySelectorAll('.employee button')
  // Array.prototype.forEach.call(employee_button, (item) => {
  //   console.log('some')
  // });
  // });
});
</script>
{% endblock %}