{% extends "layout.html" %}

{% block title %}
    Employees
{% endblock %}

{% block main %}
<span>
    Employees 
{% with departments=departments, department=None %}
    {% include "employee/add_employee_modal.html" %}
{% endwith %}
</span>
{{ employees[0].department }}
<div class="container">
    <h1>{{ title }}</h1>
    <hr>
    <table cellspacing="5" cellpadding="5" border="0">
      <tbody><tr>
          <td>Minimum date:</td>
          <td><input type="text" id="min" name="min"></td>
      </tr>
      <tr>
          <td>Maximum date:</td>
          <td><input type="text" id="max" name="max"></td>
      </tr>
  </tbody></table>
    <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>birthdate</th>
            <th>salary</th>
            <th>department</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  <script>
    /* Custom filtering function which will search data in column four between two values */
    $.fn.dataTable.ext.search.push(
    function( settings, searchData, index, rowData, counter ) {
 
      console.log("run search")
        var min = parseInt( $('#min').val(), 10 );
        var max = parseInt( $('#max').val(), 10 );
        var salary = parseFloat( data[3] ) || 0; // use data for the age column
        console.log(min, max, salary)
        if ( ( isNaN( min ) && isNaN( max ) ) ||
             ( isNaN( min ) && salary <= max ) ||
             ( min <= salary   && isNaN( max ) ) ||
             ( min <= salary   && salary <= max ) )
        {
            return true;
        }
        return false;
    }
);
    $(document).ready(function () {
        console.log("run table")
        var table = $('#data').DataTable({
        ajax: '/api/v1/employees',
        serverSide: true,
        columns: [
        {data: 'id'},
        {data: 'name'},
        {data: 'birthdate', searchable: false},
        {data: 'salary'},
        {data: 'department', searchable: false,
        defaultContent: "None", 
        "render": function ( data, type, row, meta){
            // console.log(data)
            if (data != null) {
              return '<a href="/departments/' + data.id + '">' + data.name + '</a>';
            } else {
              return "None"
            }
        }},
        {data: 'id',
        "render": function ( data, type, row, meta){
          // console.log(data)
        return '{{ employees[0].department }}';
             }
        } ,
        ],
      
        });
          // Event listener to the two range filtering inputs to redraw on input
        $('#min, #max').keyup( function() {
            console.log("key up")
            table.draw();
        } );
    });
  </script>

{% endblock %}
