.vscode
__pycache__
/depvenv
Include
/depenv
venv
*.pyc
*.log
Scripts
Lib
pyvenv.cfg
department_db
**/*.pyc
**\*.pyc
*.cpython-39.pyc
department_app/department_db
department_app/models/__pycache__/__init__.cpython-39.pyc
department_app/models/__pycache__/department_model.cpython-39.pyc
department_app/models/__pycache__/__init__.cpython-39.pyc
