{% block delete_department_modal %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-sm mr-auto" data-toggle="modal" data-target="#DeleteDepModal{{ id }}" data-whatever="@getbootstrap" style="float: right">
  Delete
</button>

<!-- Modal -->
<div class="modal fade" id="DeleteDepModal{{ id }}" tabindex="-1" role="dialog" aria-labelledby="DeleteDepModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteDepModalLabel">Delete department</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to delete {{ name }} with {{ employee | length }} employees
      </div>
      <form>
        <div>
        <input type="checkbox" id="del-dep{{id}}" name="del-dep{{id}}" value="true">
        <label for="del-dep{{id}}"> delete with employees </label>
        <p>*Select if you want to delete department with all employees, <br> otherwise all employees will move to None department  </p>
        </div>
      
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger js-delete-item" data-id="{{id}}" data-endpoint="/departments/">
        Delete
        </button>
        </div>
    </form>
    </div>
  </div>
</div>

{% endblock %}