{% extends "layout.html" %}

{% block title %}
    Departments
{% endblock %}

{% block main %}
Info about department:

<div>
{% with department=department %}
    {% include "department/edit_department_modal.html" %}
{% endwith %}
</div>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>average salary</th>
            <th>employees</th>
        <tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ department.id }}</td>
            <td id="department_name{{ department.id }}">{{ department.name }}</td>
            <td>{{ department.average_salary }}</td>
            <td>{{ department.employee | length }}</td>
            
        </tr>
    </tbody>
</table>
<div></div>
Employees of department 
{% with departments=departments, department=department%}
    {% include "employee/add_employee_modal.html" %}
{% endwith %}
</div>
<div>
{% with department_id = department.id %}
    {% include "employee/employees_list.html" %}
{% endwith %}
</div>

{% endblock %}