{% extends "layout.html" %}

{% block title %}
    Departments
{% endblock %}

{% block main %}

{% include "department/add_department_modal.html" %}
<p style="text-align:left">Departments </p>
<table id="data table departments" class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>average salary</th>
            <th>employees</th>
            <th style="text-align: center;">actions</th>
            
        <tr>
    </thead>
    <tbody>
        {% for department in departments %}
        <tr>
            <td>{{ department.id }}</td>
            <td ><a href='/departments/{{ department.id }}' id="department_name{{ department.id }}">{{ department.name }}</a></td>
            <td>{{ department.average_salary }}</td>
            <td>{{ department.employee  | length }}</td>
            <td>
        
            <div >
                {% with department=department %}{% include "department/edit_department_modal.html" %}{% endwith %}
            </div>
            <div >
                {% with id=department.id, name=department.name, employee=department.employee %}
                    {% include "department/delete_department_modal.html" %}
                {% endwith %}
            </div>
            
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

