{% extends "layout.html" %}

{% block title %}
    Departments
{% endblock %}

{% block main %}

{% include "department/add_department_modal.html" %}
<p style="text-align:left">Departments </p>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>employees</th>
            <th></th>
        <tr>
    </thead>
    <tbody>
        {% for department in departments %}
        <tr>
            <td>{{ department.id }}</td>
            <td><a href='/departments/{{ department.id }}'>{{ department.name }}</a></td>
            <td>{{ department.employee  | length }}</td>
            <td>
                
                {% with department=department %}
                    {% include "department/edit_department_modal.html" %}
                {% endwith %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

